:root {
    --main-bg-color: rgb(250, 143, 2);
}

@media (max-width: 760px) {
    p {
        font-size: 5px;
    }
    body {
        background-color: white;
        width: 400px;
    }
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--main-bg-color);
    font-size: 25px;
    margin-bottom: 20px;
}

.right_side .exp .percent {
    position: relative;
    width: 85%;
    height: 8px;
    background-color: rgb(170, 169, 169);
    display: block;
    border-radius: 40px;
    margin-top: 8px;
}

.right_side .exp .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 40px;
}

.right_side .exp .lineP {
    border-bottom: 3px solid var(--main-bg-color);
    width: 45%;
}

.unityIcon {
    width: 30px;
    height: 30px;
}